
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GoWebSSH-服务器管理平台</title>
<link href="static/css/css/login.css" rel="stylesheet" type="text/css" />

</head>
<style type="text/css"> 
.login_banner { 
background: url("static/img/banner.png")  
}
</style>
<body>
	<div id="login">
		<div id="login_header">
			<h1 class="login_logo">
				<a href="#"><img src="static/img/logo.png" /></a>
			</h1>
			<div class="">
				<div class="navList">
					 
				</div>
				<h2 class="login_title"></h2>
			</div>
		</div>
		<div id="login_content">
			<div class="loginForm">
			   
				<form action="/login"  method="POST">
				     
					<p>
						<label>用户名：</label>
						<input type="text" name="username" value="{{.username}}" size="20" class="login_input" />
					</p>
					<p>
						<label>密码：</label>
						<input type="password" name="password" value="{{.password}}" size="20" class="login_input" />
					</p>
					<p>
					<label>记住：</label>
						<input type="checkbox" name="isRemeber"  class="login_input"/> 
					</p> 
					
					<div class="login_bar"> 
						<input class="sub" type="submit" value="" />
					</div>
					<div class="login_bar">
					<label>{{.error}}</label> 
					</div>
				</form>
			</div>
			<div class="login_banner"></div>
			<div class="">
				 
				<div class="login_inner">
					<p></p> 
				</div>
			</div>
		</div>
		<div id="login_footer">
			Copyright &copy; 2015 www.GoWebSSH.com Inc. All Rights Reserved.
		</div>
	</div>
</body>
</html>